.SVGEditor-top {
  background-color: var(--black);
  color: var(--white);

  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 10vh;
}

.SVGEditor-top h2 {
  margin: 2.5vh 0 0 5vw;
  font-size: 5vh;
}

.SVGEditor-top .SVGEditor-tool {
  background-color: var(--blue);
  color: var(--white);

  position: absolute;
  top: 0;

  height: 10vh;

  font-size: 2.5vh;
  line-height: 10vh;
  text-align: center;

  padding: 0 1vh 0 1vh;
}

.SVGEditor-top .SVGEditor-tool-poly {
  right: 0;
  width: 10vw;
}

.SVGEditor-middle {
  background-color: var(--white);
  color: var(--grey);

  position: absolute;
  top: 10vh;
  left: 0;

  width: 100vw;
  height: 90vh;

  overflow: auto;
}

.SVGEditor-landscape .SVGEditor-source {
  position: absolute;
  top: 0;
  left: 0;

  overflow: auto;
}
.SVGEditor-middle-landscape .SVGEditor-source {
  width: 50%;
  height: 100%;
}
.SVGEditor-middle-portrait .SVGEditor-source {
  width: 100%;
  height: 50%;
}

.SVGEditor-middle .SVGEditor-source textarea {
  background-color: transparent;
  color: var(--grey);
  caret-color: var(--grey);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
  padding: var(--text-editor-padding);

  font-size: 3vh;
  font-family: monospace;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;

  border: none;
  resize: none;
  outline: none;

  overflow: auto;
}
.SVGEditor-middle-landscape .SVGEditor-source textarea {
  width: calc(50% - 2 * var(--text-editor-padding));
  height: calc(100% - 2 * var(--text-editor-padding));
}
.SVGEditor-middle-portrait .SVGEditor-source textarea {
  width: calc(100% - 2 * var(--text-editor-padding));
  height: calc(50% - 2 * var(--text-editor-padding));
}

.SVGEditor-middle .SVGEditor-result {
  background-color: var(--grey);
  overflow: auto;
}
.SVGEditor-middle-landscape .SVGEditor-result {
  position: absolute;
  top: 0;
  left: 50%;

  width: 50%;
  height: 100%;
}
.SVGEditor-middle-portrait .SVGEditor-result {
  position: absolute;
  top: 50%;
  left: 0;

  width: 100%;
  height: 50%;
}

.SVGEditor-marker {
  position: fixed;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--marker-color);
}
.SVGEditor-marker.SVGEditor-selected-marker {
  background-color: var(--selected-marker-color);
}
